<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Bem-vindo</div>
                <div>à nossa comunidade</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                Cadastro de Ações PELT
            </div>

        </div>
    </div>
    <div
        class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-full py-8 px-4 sm:p-6 md:p-2 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full md:w-full sm:w-80 mx-auto sm:mx-0 md:p-8">

            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/favicon.png">
            </div>

            <!-- Title -->
            <div
                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate ng-star-inserted">
                Cadastro</div>
            <div class="flex">
                <div class="ml-1.5 leading-6 truncate text-secondary">
                    Já tem uma conta? <a class="text-primary-500 hover:underline" [routerLink]="['/sign-in']">Fazer
                        Login
                    </a>.
                </div>
            </div>
            <!-- Alert -->
            <fuse-alert class="mt-8 mb-4 pb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()" novalidate class="w-full" *ngIf="!loading">

                <div class="flex flex-col mt-4 w-full">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Nome Completo</mat-label>
                        <input id="fullName" matInput [formControlName]="'nome'" />
                        <mat-icon class="icon-size-5 mr-2" matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        <mat-error *ngIf="signUpForm.controls.nome?.hasError('required')">
                            Nome completo é obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input id="email" matInput [formControlName]="'email'" />
                        <mat-icon class="icon-size-5 mr-2" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        <mat-error *ngIf="signUpForm.controls.email?.hasError('required')">
                            Email é obrigatório
                        </mat-error>
                        <mat-error *ngIf="signUpForm.controls.email?.hasError('email')">
                            Por favor digite um e-mail válido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex-auto w-auto md:w-full sm:w-full" appearance="outline">
                        <mat-label>Telefone</mat-label>
                        <input matInput [placeholder]="'Telefone'" matInput [formControlName]="'telefone'"
                            mask="(00) 0 0000-0000" />
                        <mat-icon class="icon-size-5 mr-1" matPrefix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                        <mat-error *ngIf="signUpForm.controls.telefone?.hasError('required')">
                            Telefone é obrigatório
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex-auto w-auto md:w-full sm:w-full" appearance="outline">
                        <mat-label>Instituição Setor</mat-label>
                        <mat-icon class="icon-size-5" svgIcon="mat_solid:apartment" matPrefix></mat-icon>
                        <input [formControlName]="'instituicao_setor'" [placeholder]="'Instituição Setor'" matInput>
                        <mat-error *ngIf="signUpForm.controls.instituicao_setor?.hasError('required')">
                            Instituição Setor é obrigatório
                        </mat-error>
                    </mat-form-field>


                </div>
                <!-- Current password -->
                <div class="flex">
                    <mat-form-field class="fuse-mat-no-subscript w-full" appearance="outline">
                        <mat-label>Senha</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                        <input matInput formControlName="senha" [type]="hide ? 'password' : 'text'" maxlength="8">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide" type="button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <!-- New password -->
                <div class="flex flex-col">
                    <mat-form-field class="fuse-mat-no-subscript w-full" appearance="outline">
                        <mat-label>Confirmar Senha</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                        <input matInput formControlName="senha_confirmation" [type]="hide_confirm ? 'password' : 'text'"
                            maxlength="8" appConfirmEqualValidator="senha">

                        <button mat-icon-button matSuffix (click)="hide_confirm = !hide_confirm"[attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide_confirm" type="button">
                            <mat-icon>{{hide_confirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-error
                        *ngIf="userControlsForm.senha_confirmation.invalid && (userControlsForm.senha_confirmation.dirty || userControlsForm.senha_confirmation.touched)"
                        class="text-md text-red-600">
                        Senhas não são iguais!
                    </mat-error>
                    <div class="mt-1 text-md text-hint">
                        Mínimo de 8 caracteres. Deve incluir números, letras
                        e caracteres especiais.</div>
                </div>

                <div class="mt-2">
                    <re-captcha [siteKey]="recaptcha" data-sitekey="recaptcha" class="g-recaptcha" id="recaptcha" name="recaptcha" [formControl]="userControlsForm.recaptcha" required 
                [class.is-invalid]="userControlsForm.recaptcha.invalid && ( userControlsForm.recaptcha.dirty || userControlsForm.recaptcha.touched)"></re-captcha>
                <div *ngIf="'recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)'" class="invalid-feedback">
                    <div *ngIf="signUpForm.get('recaptcha').hasError('required')" class="text-red-700">This field is required.</div>
                </div>
                </div>

                <!-- Actions -->
                <div class="flex items-center justify-end mt-2">
                    <!-- Save -->
                    <button class="ml-2" mat-flat-button [color]="'primary'" type="submit" [matTooltip]="'Salvar'"
                        [disabled]="signUpForm.invalid">
                        Salvar
                        <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </form>

            <ng-container *ngIf="loading">
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center loader">Carregando
                    Usuário
                    <span class="dot dot-1"></span>
                    <span class="dot dot-2"></span>
                    <span class="dot dot-3"></span>
                    <span class="dot dot-4"></span>
                </div>
            </ng-container>
        </div>
    </div>
</div>