<div class="flex flex-wrap w-ful p-6 mt-5 justify-center justify-items-center items-center gap-4 text-center home-card">

   <div class="flex-auto">
    <div class="flex flex-col shadow-2xl rounded-2xl overflow-hidden bg-gray-50 cursor-pointer" matRipple routerLink="/admin/empreendimentos/lista">
        <div class="flex flex-col p-6">
            <div class="flex items-center justify-between">
                <ng-container>
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">
                        Lista
                    </div>
                </ng-container>
                <!-- Completed at least once -->
                <div class="flex items-center">
                   
                </div>
            </div>
            <div class="flex justify-items-center text-center justify-center items-center w-full h-full">
                <div class="mt-4 text-xl font-bold">Módulo Empreendimento</div>
            </div>                                  
        </div>      
    </div>
   </div>
   <div class="flex-auto">
    <div class="flex flex-col shadow-2xl rounded-2xl overflow-hidden bg-gray-50 cursor-pointer" matRipple routerLink="/admin/obras/lista">
        <div class="flex flex-col p-6">
            <div class="flex items-center justify-between">
                <ng-container>
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">
                        Lista
                    </div>
                </ng-container>
                <!-- Completed at least once -->
                <div class="flex items-center">
                   
                </div>
            </div>
            <div class="flex justify-items-center text-center justify-center items-center w-full h-full">
                <div class="mt-4 text-xl font-bold">Módulo Obra</div>
            </div>                                  
        </div>      
    </div>
   </div>
   <div class="flex-auto">
    <div class="flex flex-col shadow-2xl rounded-2xl overflow-hidden bg-gray-50 cursor-pointer" matRipple routerLink="/admin/iniciativas/lista">
        <div class="flex flex-col p-6">
            <div class="flex items-center justify-between">
                <ng-container>
                    <div
                        class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">
                        Lista
                    </div>
                </ng-container>
                <!-- Completed at least once -->
                <div class="flex items-center">
                   
                </div>
            </div>
            <div class="flex justify-items-center text-center justify-center items-center w-full h-full">
                <div class="mt-4 text-xl font-bold">Módulo Iniciativa</div>
            </div>                                  
        </div>      
    </div>
   </div>      

</div>