<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-10 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">

        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
           
            <!-- Title -->
            <div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight">Cadastro de Ações PELT</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Não tem uma conta?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-up']">Sign up
                </a>
            </div>
            
            <!-- Alert -->
            <fuse-alert class="mt-4 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input id="email" matInput [formControlName]="'email'">
                    <mat-error *ngIf="signInForm.get('email').hasError('required')">
                        Email é um campo obrigatório
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('email').hasError('email')">
                        Por favor, entre com um e-mail válido.
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Senha</mat-label>
                    <input id="senha" matInput type="password" [formControlName]="'senha'" #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        O campo senha é obrigatório
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <!-- <mat-checkbox [color]="'primary'" [formControlName]="'rememberMe'">
                        Permanecer conectado
                    </mat-checkbox>
                    <a class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['/forgot-password']">Esqueci minha senha
                    </a> -->
                </div>
                <re-captcha [siteKey]="recaptcha" data-sitekey="recaptcha" class="g-recaptcha" id="recaptcha" name="recaptcha" [formControl]="signInControls.recaptcha" required 
                [class.is-invalid]="signInControls.recaptcha.invalid && ( signInControls.recaptcha.dirty || signInControls.recaptcha.touched)"></re-captcha>
                <div *ngIf="'recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)'" class="invalid-feedback">
                    <div *ngIf="signInForm.get('recaptcha').hasError('required')" class="text-red-700">This field is required.</div>
                </div>

                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="signInForm.invalid" (click)="signIn()">
                    <span *ngIf="!signInForm.disabled ">
                        Entrar
                    </span>
                    <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-10 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <!-- <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Sistema Obras.</div>
                <div>Melhorar a consolidação das Ações de infraestrutura</div>
            </div> -->
            <div class="mt-6 text-lg tracking-tight text-white leading-relaxed flex flex-col space-y-4">
                <p>
                    Tendo em vista a necessidade de padronização do formato de coleta entre as diferentes instituições
                    vinculadas,
                    os formulários a seguir solicitam dados que não necessariamente estão na área de atuação direta de
                    todos os setores.
                </p>
                <p>
                    Caso o setor respondente não possua ou não atue com a informação solicitada, basta não preencher o
                    formulário ou
                    deixar a coluna em branco, e passar para o próximo item.
                </p>
                <div class="ml-5">
                    <p class="mb-3">O levantamento irá avaliar separadamente, mas de forma integrada 3 conjuntos de ações:
                        Empreendimentos, Obras e
                        Iniciativas, sendo que</p>
                    <ul class="list-disc flex space-y-4 flex-col">
                        <li>Empreendimento: Agrupamento de ações do tipo obra e serviço, que afetam um ou mais
                            componentes de infraestrutura do
                            sistema de transporte, alocados a um responsável pela sua condução (gestão ou execução).
                        </li>
                        <li>
                            Obra: Intervenções que implantam, ampliam, mantém ou operam uma determinada infraestrutura
                            individualizada.
                            Por exemplo: ampliação de via, operação de terminal, implantação de obra de arte especial.
                        </li>
                        <li>
                            Iniciativa (estratégica ou tática): Conjunto de ações que não sejam obras e serviços de
                            infraestrutura (ex. regulamentação, capacitação, fiscalização, transformação digital, gestão
                            ambiental), com
                            objetivo comum entre si, que afetam significativamente as características de um ou mais
                            componentes do sistema de
                            transporte que não sejam infraestrutura, alocados a um ator do sistema responsável pela sua
                            condução
                        </li>

                    </ul>
                </div>
            </div>

            <div class="flex items-center mt-8">
            </div>
        </div>
    </div>
</div>